@model WebApplication1.Models.Piwkowanie

@{
//ViewBag.Title = "Alokocholizacja";
}

<h2>Alokocholizacja</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        @*<div> <input type="button" value="Rozpocznij piwną ucztę" onclick="location.href='@Url.Action("Create", "User")'" /></div>*@
        <div>
            <label for="iloscOsob">Na ile osób zarezerwować stolik : </label>
            <input id="iloscOsob" type="number" value="0" />
            <input type="button" class="btn btn-primary" value="Zarezerwuj stolik" onclick="Rezerwuj()" />
        </div>
        <div style="display:none;" id="KelnerMowi"></div>
        <h2>Dostępne piwa</h2>
        <ul id="listapiw">
            @{
                foreach (var piwo in Model.podajMenu())
                {
                    <li ><div><span>@piwo.Nazwa</span><input id="@piwo.Nazwa" type="number" value="0" class="cena" /></div></li>
                }
            }
        </ul>
        <input type="button" id="zamowBtn" class="btn btn-primary" value="Zamów" onclick="zamow()" />
    </dl>
    <div>Toast : <div id="toast"> </div></div>
    <div>Koszt imprezy: <div id="koszt"></div></div>
    <div>Do uregulowania zostalo : </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="~/Scripts/Bar/Bar.js"></script>
